.container {
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.135216);
  border-radius: 8px;
  padding: 12px;
  width: 45%;
  margin-bottom: 50px;
}

.title_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name_container,
.schedule_container,
.communication_name_container,
.under_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cube {
  width: 10px;
  height: 10px;
  border: 2px solid #fedc2e;
  border-radius: 2px;
  margin-right: 10px;
}

.name {
  font-weight: bold;
}

.right_title_btn,
.right_title_btn_v2 {
  padding: 3px 10px;
  border: 1px solid black;
  border-radius: 8px;
  background: white;
  cursor: pointer;
  font-size: 12px;
  width: 110px;
}

.right_title_btn_v2 {
  width: auto;
}

.tag_container {
  display: flex;
  margin-top: 5px;
}

.text {
  padding: 7px 0;
  font-size: 12px;
}

.text:first-child {
  /*margin-top: 10px;*/
}

.schedule {
  display: flex;
}

.schedule_item {
  padding: 5px 10px;
  background: rgba(242, 241, 242, 0.5);
  border: 1px solid #828282;
  border-radius: 8px;
  text-align: center;
  margin: 5px 0;
  font-size: 12px;
}

.schedule_past {
  background-color: rgba(254, 220, 46, 0.2);
}

.schedule_now {
  background-color: #fedc2e;
}

.schedule_item:not(:last-child) {
  margin-right: 10px;
}

.communication_price_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.communication_container {
  background: #ffffff;
  border: 1px solid #d1d1d1;
  box-sizing: border-box;
  border-radius: 8px;
  display: flex;
  align-items: center;
  width: 47%;
  justify-content: space-between;
  padding: 5px 12px;
  font-size: 12px;
}

.communication_container_mentee {
  width: fit-content;
}

.communication_image {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.communication_name {
  text-transform: uppercase;
  font-weight: bold;
}

.price {
  font-size: 24px;
}

.under_container {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  font-size: 12px;
}

.button_containers {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.button_containers_v2 {
  justify-content: right;
}

.button_containers_v3 {
  width: 62%;
}

.chat_btn,
.confirm_btn {
  border-radius: 8px;
  padding: 5px 0px;
  border: none;
  font-weight: bold;
  width: 48%;
}

.chat_btn {
  background: #dadada;
}

.confirm_btn {
  background-color: #fedc2e;
}

@media (max-width: 1496px) and (-webkit-device-pixel-ratio: 1) {
  .container {
    width: 100%;
  }
}
@media (max-width: 1197px) and (-webkit-min-device-pixel-ratio: 1.25) {
  .container {
    width: 100%;
  }
}
