.container {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  width: 840px;
  position: relative;
}

.item {
  height: 129px;
  color: white;
  font-weight: bold;
  font-size: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  padding: 0 20px;
  background: #2c2c2c;
  border: 6px solid #fedc2e;
  box-sizing: border-box;
  border-radius: 8px;
  margin-right: 25px;
  width: 263px;
  cursor: pointer;
  user-select: none;
}

.track {
  display: flex;
  transition: 0.5s;
}

.track_container {
  overflow: hidden;
  display: flex;
}

.prev,
.next {
  position: absolute;
  height: 25px;
  margin-top: inherit;
  cursor: pointer;
  user-select: none;
}

.prev {
  left: -35px;
  transform: rotate(180deg);
}

.next {
  right: -35px;
}

@media (max-width: 1376px) {
  .next {
    z-index: 4;
  }
}

/* Mobile */
@media only screen and (max-width: 425px) {
  .container {
    width: 100%;
    margin-top: 20px;
  }

  .track_container {
    overflow: hidden;
    display: flex;
  }
  .track {
    display: flex;
    flex-wrap: wrap;
    transition: none;
    justify-content: center;
    gap: 10px;
  }
  .item {
    height: 96px;
    font-size: 15px;
    margin-right: 0;
    width: 174px;
  }
  .item:nth-child(5) {
    display: none;
  }
  .item:nth-child(6) {
    display: none;
  }

  .prev,
  .next {
    display: none;
  }
}

@media only screen and (max-width: 400px) {
  .track {
    display: flex;
    flex-wrap: wrap;
    transition: none;
    justify-content: center;
    gap: 10px;
  }
  .item {
    height: 96px;
    font-size: 14px;
    margin-right: 0;
    width: 150px;
  }
}

@media only screen and (max-width: 365px) {
  .track {
    display: flex;
    flex-wrap: wrap;
    transition: none;
    justify-content: center;
    gap: 10px;
  }
  .item {
    height: 90px;
    font-size: 14px;
    margin-right: 0;
    width: 150px;
  }
  .item:nth-child(4) {
    display: none;
  }
  .item:nth-child(5) {
    display: flex;
  }
  .item:nth-child(6) {
    display: none;
  }
}

@media only screen and (min-height: 630px) and (max-width: 450px) {
  .container {
    margin-top: 40px;
  }
  .item {
    height: 104px;
    font-size: 16px;
    margin-right: 0;
    width: 188px;
  }
}

@media only screen and (min-height: 700px) and (min-width: 400px) and (max-width: 450px) {
  .track {
    gap: 20px;
  }
  .item {
    height: 124px;
    font-size: 18px;
    margin-right: 0;
    width: 208px;
  }
}

@media only screen and (min-height: 780px) and (min-width: 370px) and (max-width: 450px) {
  .container {
    margin-top: 40px;
  }
  .item {
    height: 130px;
    font-size: 18px;
    margin-right: 0;
    width: 203px;
  }
}
