.form {
    display: flex;
    flex-direction: column;
}

.input::-webkit-input-placeholder { /* WebKit browsers */
    color: rgba(0, 0, 0, 0.4);
}

.low_container {
    display: flex;
    justify-content: space-between;
}

.lost_password {
    color: rgba(44, 44, 44, 0.56);
}

.btn_container {
    margin-top: 40px;
    display: grid;
}

.to_reg {
    text-align: center;
    margin-top: 20px;
    color: rgba(44, 44, 44, 0.56);;
}

.input_tel {
    display: flex;
    justify-content: space-between;
}



.num_in_input {
    width: 30%;
    text-align: center;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    box-sizing: border-box;
    border-radius: 5px;
    height: fit-content;
    margin-right: 20px;
}


.input_container {
    margin-bottom: 24px;
}


.error {
    color: red;
    margin: 5px 0 0 0;
}

