.form {
    display: flex;
    flex-direction: column;
}

.input {
    padding: 20px;
    box-sizing: border-box;
    border-radius: 5px;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.4);
    margin-bottom: 24px;
    font-size: 16px;
}


.input::-webkit-input-placeholder { /* WebKit browsers */
    color: rgba(0, 0, 0, 0.4);
}

.low_container {
    display: flex;
    justify-content: space-between;
}

.lost_password {
    color: rgba(44, 44, 44, 0.56);
}

.btn_container {
    margin-top: 40px;
    display: grid;
}

.to_reg {
    text-align: center;
    margin-top: 20px;
    color: rgba(44, 44, 44, 0.56);;
}

