.form {
    display: flex;
    flex-direction: column;
}

.input {
    padding: 20px;
    box-sizing: border-box;
    border-radius: 5px;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.4);
    margin-bottom: 24px;
    font-size: 16px;
}

.submit {
    background-color: #FEDC2E;
    padding: 10px 0;
    outline: none;
    border: none;
    border-radius: 6px;
    font-size: 22px;
    font-weight: bold;
}

.input::-webkit-input-placeholder { /* WebKit browsers */
    color: rgba(0, 0, 0, 0.4);
}

