.container {
    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgb(0 0 0 / 14%);
    border-radius: 8px;
}

.display_container {
    padding: 25px 35px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.display_block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 35%;
}

.display_title {
    font-size: 18px;
    padding: 6px 0;
    background: #FEDC2E;
    border-radius: 18px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 30px;
}

.input {
    background: #FFFFFF;
    border: 1px solid #AEAEAE;
    box-sizing: border-box;
    border-radius: 5px;
    outline: none;
    padding: 7px 15px;
}

.textarea {
    border: none;
    width: 100%;
}

.title_block, .tag_block {
    width: 28%;
}

.textarea_container {
    background: #FFFFFF;
    border: 1px solid #AEAEAE;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 7px;
}

.count_tag {
    text-align: right;
    font-size: 14px;
    line-height: 17px;
    color: #8E8E8E;
}

.btns {
    display: flex;
}
.btns a {
    width: 100%;
}

.mode_btn {
    width: 100%;
    padding: 15px 0;
    border-bottom: 1px solid #AFAFAF;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: #AFAFAF;
    cursor: pointer;
}

.active_mode_btn {
    border-bottom: 1px solid black;
    color: black;
}

.work_container {
    min-height: 420px;
}



.save_btn {
    width: 50%;
    margin: auto;
}

.create_btn {
    width: 50%;
    margin: auto;
    padding-top: 40px;
}

.save_btn_container {
    padding: 35px;
    border-top: 1px solid #DADADA;
    margin-top: 20px;
}

.workplace_container {
    padding: 0 50px;
}

.table {
    width: 100%;
    font-size: 14px;
    border-collapse: collapse;
}

.title_table {
    font-weight: bold;
    font-size: 14px;
    height: 60px;
    line-height: 60px;
    margin-right: 100px;
    white-space: nowrap;
}

.table tr {

}

.table th {
    text-align: left;
}

.table td {
    text-align: center;
}

.price_input {
    background: #FFFFFF;
    border: 1px solid #AEAEAE;
    border-radius: 5px;
    padding: 2px 5px;
    box-sizing: border-box;
    width: 80%;
    text-align: center;
}

.price_input::placeholder {
    text-align: center;
}

.calendar_container {
    display: flex;
}

.little_input {
    width: 50%;
}

.submit_btn {
    background-color: #FEDC2E;
    padding: 10px 0;
    outline: none;
    border: none;
    border-radius: 6px;
    font-size: 22px;
    font-weight: bold;
    width: 100%;
    cursor: pointer;
    transition: 0.25s;
}

.submit_btn:disabled {
    background-color: #DADADA;
}


.relative {
    position: relative;
}

.dropdown_container {
    position: absolute;
    top: 110%;
    left: 0;
    padding: 10px;
    background: #fff;
    box-shadow: 3px 3px 10px 6px rgb(0 0 0 / 6%);
    font-weight: 500;
    color: #333;
    width: 98%;
    overflow-y: scroll;
    max-height: 300px;
}

.dropdown_item {
    padding: 10px;
    cursor: pointer;
    transition: all 0.2s;
    font-size: 14px;
}

.active {
    background:#f4f4f4;
}

.tags {
    display: flex;
    flex-wrap: wrap;
}

.update_container .save_btn {
    margin: 0;
    display: flex;
    justify-content: space-between;
    width: auto;
}

.update_container .submit_btn {
    width: 50%;
}

.delete_btn {
    background: #AFAFAF;
    border-radius: 5px;
    font-weight: bold;
    border: none;
    width: 20%;
    cursor: pointer;
}