.container {
    margin-top: 120px;
}

.content_container {
    display: flex;
    justify-content: space-between;
}

.title {
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 27px;
}

/*.left_side {*/
/*    width: 860px;*/
/*}*/

.yellow_text {
    background-color: #FFDD2D;
    border-radius: 40px;
    padding: 2px 10px;
}

.search_icon {
    width: 30px;
    height: 30px;
    user-select: none;
    cursor: pointer;
}

.input_container {
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    width: 100%;
    background: #F4F4F4;
    margin-top: 120px;
    border-radius: 8px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.135216);
    box-sizing: border-box;
}

.input {
    border: none;
    outline: none;
    width: 100%;
    background: #F4F4F4;
    font-size: 18px;

}

.input::placeholder {
    font-style: italic;
    font-weight: lighter;
}

.lower_display {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    align-items: center;
}

.full_catalog {
    font-size: 36px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.to_mentor_btn {
    font-size: 24px;
    text-decoration: underline;
}

.right_arrow {
    width: 30px;
    margin-left: 10px;
}