.follow_btn {
  font-weight: bold;
  border-radius: 8px;
  text-align: center;
  padding: 5px 0;
  margin-top: 8px;
  background: #ededed;
  font-size: 12px;
  width: 100%;
}

.heart {
  margin-right: 10px;
}

/* Mobile */
@media only screen and (max-width: 500px) {
  .follow_btn {
    padding: 4px 2px;
    font-size: 10px;
    /* width: 85%; */
    margin-left: auto;
  }
  .heart {
    margin-right: 10px;
    zoom: 0.96;
  }
}

@media only screen and (max-width: 425px) {
}
@media only screen and (max-width: 400px) {
}
@media only screen and (max-width: 350px) {
}
