.container {
  background: #ffffff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.135216);
  border-radius: 8px;
}

.profile {
  padding: 15px 30px;
  display: flex;
  border-bottom: 1px solid #d6d6d6;
}

.profile_img {
  border-radius: 60px;
  width: 111px;
  height: 111px;
  margin-right: 30px;
  object-fit: cover;
}

.title {
}

.profile_info {
  width: 57%;
}

.status {
  font-size: 12px;
  color: #2c2c2c;
  font-weight: 300;
  line-height: 25px;
}

.description {
  font-weight: 300;
  font-size: 14px;
  line-height: 23px;
}

.display {
  width: 180px;
  margin-left: auto;
}

.rating {
  background: #7fc936;
  border-radius: 3px;
  color: white;
  padding: 1px 35px;
  margin-left: auto;
  width: fit-content;
  font-weight: 600;
  font-size: 14px;
}

.price_display {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

.price_description {
  font-size: 10px;
  color: #717171;
}

.chat_btn,
.follow_btn {
  font-size: 14px;
  font-weight: 600;
  border-radius: 8px;
  text-align: center;
  padding: 5px 0;
  margin-top: 8px;
}

.chat_btn {
  background: #fedc2e;
  font-size: 14px;
}

.follow_btn {
  background: #ededed;
  font-size: 12px;
}

.heart {
  margin-right: 10px;
}

.services {
  padding: 20px;
}

.container:not(:last-child) {
  margin-bottom: 50px;
}

/* Mobile */
@media only screen and (max-width: 500px) {
  .profile_img {
    width: 70px;
    height: 70px;
    margin-right: 15px;
  }
  .title {
    font-size: 15px;
  }
  .status {
    line-height: 15px;
    margin-top: 5px;
  }
  .description {
    font-size: 13px;
    line-height: 16px;
    margin-top: 5px;
  }
  .display {
    width: 130px;
  }
  .price_description {
    font-size: 9px;
    margin-left: 4px;
    text-align: right;
  }
  .price_display {
    font-size: 14px;
  }
  .services {
    padding: 10px;
  }
  .container:not(:last-child) {
    margin-bottom: 20px;
  }

  .profile {
    gap: 5px;
    padding: 15px 15px;
  }
}

@media only screen and (max-width: 425px) {
}
@media only screen and (max-width: 400px) {
}
@media only screen and (max-width: 350px) {
  .profile_img {
    width: 60px;
    height: 60px;
    margin-right: 15px;
  }

  .profile {
    padding: 15px 15px;
    display: flex;
    border-bottom: 1px solid #d6d6d6;
  }
}
