.container, .left_side {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left_side img {
    margin-right: 10px;
}

.container:not(:last-child) {
    margin-bottom: 20px;
}

.container {
    cursor: pointer;
}

.active {
    font-weight: bold;
}