.container, .content_container {
    margin-top: 33px;
}

.content_container {
    display: flex;
    justify-content: space-between;
}

.sidebar_container {
    height: fit-content;
    width: 20%;
}

.fake_sidebar {
    width: 270px;
}