.container {
  display: flex;
  margin-top: 33px;
}

.fixed_sidebar {
  width: 330px;
  position: fixed;
}

.fake_sidebar {
  width: 330px;
}

.content_container {
  width: 100%;
  margin-left: 200px;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  margin: 15px 0;
}

.tag_container {
  margin-right: 15px;
  margin-bottom: 10px;
}

@media (max-width: 1680px) and (-webkit-min-device-pixel-ratio: 1) {
  .content_container {
    margin-left: 100px;
  }
  .fixed_sidebar {
    width: 280px;
  }
}

/* Mobile */
@media only screen and (max-width: 500px) {
  .container {
    flex-direction: column;
  }
  .fixed_sidebar {
    width: 100%;
    position: static;
  }

  .fake_sidebar {
    width: 100%;
  }

  .content_container {
    width: 100%;
    margin-left: 0px;
    margin-top: 20px;
  }
}

@media only screen and (max-width: 425px) {
}
@media only screen and (max-width: 400px) {
}
@media only screen and (max-width: 350px) {
}
