.container {
  max-width: 80%;
  margin: auto;
}

@media (max-width: 1496px) and (-webkit-device-pixel-ratio: 1) {
  .container {
    max-width: 90%;
  }
}

@media (max-width: 1197px) and (-webkit-min-device-pixel-ratio: 1.25) {
  .container {
    max-width: 90%;
  }
}

/* Mobile */
@media only screen and (max-width: 500px) {
  .app {
    min-height: 100vh;
  }
  .container {
    height: calc(100vh - 120px);
    max-width: 90%;
  }
}
