.container {
  display: flex;
}

/* Mobile */
@media only screen and (max-width: 500px) {
  .stars {
    width: max-content;
    margin-right: 10px;
  }
}

@media only screen and (max-width: 425px) {
}
@media only screen and (max-width: 400px) {
}
@media only screen and (max-width: 350px) {
  .stars {
    margin-right: 5px;
  }
  .mobile_star {
    width: 15px;
  }
  .container {
    justify-content: flex-end;
  }
}
