.container {
  margin-top: 130px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.change_display {
  display: flex;
}

.tel,
.email {
  width: 50%;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  user-select: none;
  cursor: pointer;
}

.deactivate {
  background-color: rgba(0, 0, 0, 0.19);
  color: rgba(44, 44, 44, 0.56);
}

.form_container {
  padding: 30px;
}

.networks {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.network {
  width: 50px;
  height: 50px;
}

.description {
  color: rgba(44, 44, 44, 0.56);
  font-size: 14px;
}

.one_display {
  padding-top: 50px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}

.main_img {
  position: fixed;
  right: 10%;
}

@media (max-width: 1680px) and (-webkit-min-device-pixel-ratio: 1) {
  .items_container {
    flex-wrap: wrap;
  }

  .main_img {
    /* display: none; */
    zoom: 0.8;
  }

  .networks img {
    display: block;
  }
  .container {
    margin-top: 30px;
  }
}
