.container {
  width: 28%;
}

.content_container {
  background: #ffffff;
  box-shadow: 0px 2px 8px rgb(0 0 0 / 14%);
  border-radius: 8px;
  padding: 20px 10px;
  margin-top: 20px;
}

.messengers_items {
  overflow: hidden;
  max-height: 572px;
  overflow-y: scroll;
}

@media (max-width: 1680px) and (-webkit-min-device-pixel-ratio: 1) {
  .messengers_items {
    max-height: 480px;
  }
}
