.container {
  width: 28%;
}

.content_container {
  background: #ffffff;
  box-shadow: 0px 2px 8px rgb(0 0 0 / 14%);
  border-radius: 8px;
  margin-top: 20px;
}

.messengers_items {
  overflow: hidden;
  max-height: 572px;
  overflow-y: scroll;
}

@media (max-width: 1680px) and (-webkit-device-pixel-ratio: 1) {
  .messengers_items {
    max-height: 480px;
  }
  .container {
    width: 24%;
  }
}

@media (max-width: 1344px) and (-webkit-min-device-pixel-ratio: 1.25) {
  .messengers_items {
    max-height: 480px;
  }
  .container {
    width: 24%;
  }
}

/* Mobile */
@media only screen and (max-width: 500px) {
  .container {
    width: 100%;
    margin-top: 20px;
  }
}

@media only screen and (max-width: 425px) {
}
@media only screen and (max-width: 400px) {
}
@media only screen and (max-width: 350px) {
}
